
body{
font-family:'Amiri',serif;
background:#f5f6fa;
padding:20px;
}

header{
background:#1e293b;
color:white;
padding:10px;
text-align:center;
}

.form-box{
background:white;
padding:15px;
margin-bottom:20px;
border-radius:8px;
}

input,select{
width:100%;
padding:8px;
margin:5px 0;
}

button{
background:#0f172a;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

th,td{
padding:8px;
border:1px solid #ddd;
text-align:center;
}
